appnope==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
configparser==4.0.2
contextlib2==0.6.0.post1
csvkit==0.9.1
cycler==0.10.0
dask==0.10.0
dbf==0.94.3
decorator==4.0.10
Django==1.9
django-cors-headers==1.1.0
docx==0.2.4
enum34==1.1.10
flake8==3.8.4
functools32==3.2.3.post2
fuzzywuzzy==0.11.1
i3stats @ file:///home/abhiyanhaze/app/Non%20Core%20Projects/i3sysstat/dist/i3stats-0.1-py2-none-any.whl
importlib-metadata==2.1.1
ipython==4.2.0
ipython-genutils==0.1.0
jdcal==1.2
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==1.5.1
mccabe==0.6.1
networkx==1.11
nltk==3.2.1
numpy==1.11.1
ocr-fast @ git+https://bitbucket.org/i3systemsindia/ocr_fast.git@1620369df2a476805d556a44462335e2f8bb9548
openpyxl==2.2.0
pandas==0.18.1
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
Pillow==3.3.0
prompt-toolkit==1.0.18
psutil==5.2.2
ptyprocess==0.5.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.5.2
pyparsing==2.1.5
pyPdf==1.13
pytesseract==0.1.6
python-dateutil==2.2
pytz==2013.7
scandir==1.10.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sklearn-pandas==1.1.0
SQLAlchemy==1.1.0b2
toolz==0.8.0
traitlets==4.2.2
typing==3.7.4.3
Wand==0.4.4
wcwidth==0.2.5
xlrd==1.0.0
yamcha-python==0.33
zipp==1.2.0
